@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.cardBody{
    box-shadow: 0px 5px 12px rgb(0,0,0,0.3);
    max-width: 370px;
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image{
    position: relative;
    width: 170px;
    height: 170px;  
    border-radius: 50%;
    padding: 3px;
    background-color: rgb(41, 96, 223);
    margin: 20px auto;
    margin-bottom: 25px;
}

.profile-picture{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border:3px solid aliceblue;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 10px;
    color: rgb(66, 64, 64);
    letter-spacing: 0.4px;
}

.name{
    font-size: larger;
    font-weight: 750;
}
.description{
    font-size: medium;
    font-weight: 500;
}
.socials{
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials a{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.socials-item{
    font-size: 21px;
}

.social-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    cursor: pointer;
}

.button{
    margin: 10px 10px;
    padding: 10px 24px;
    width: 110px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: rgb(27, 65, 171);
    font-size: 13.5px;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-align: center;
    color: white;
    cursor: pointer;
}
.button:hover{
    background-color: rgb(17, 48, 131);
}
.statistics{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.stat-icons{
    margin: 10px;
    font-size: 17px;
    cursor: pointer;
}
.stat-icons span{
    margin: 0 5px;
    padding-right: 11px;
}

#views{
    border-right: 1px solid black;
}
#comment{
    border-right: 1px solid black;
}
